.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 4rem;
  background: #11338c;
  color: white;
  border-radius: 0;
  font-size: 1.2rem;

  &:hover {
    cursor: pointer;
  }
}
