button,
.btn {
    display: inline-block;
    padding: 12px $unit-3;
    text-align: center;
    font-family: $sans;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

.btn:hover {
    cursor: pointer;
}

.btn--small {
    font-size: $unit-2;
    padding: 10px 18px;
}

.btn--primary {
    background: $color-mcc-blue;
    color: $color--white;

    &:hover {
        background: darken($color-mcc-blue, 5%);
    }
}

.btn--secondary {
    background: $color--white;
    color: $color--black;

    &:hover {
        background: darken($color--white, 10%);
    }
}

.footer_btn {
    width: 100%;
    margin-top: 20px;
    margin-right: 20px;
    font-size: $fs-2;

    @media (min-width: $med) {
        margin-top: 10px;
    }
}

.btn--hero {
    display: block;
    margin-bottom: 1rem;
    max-width: 240px;
    font-size: $fs-4;
    color: $color--white;
    background: $color-mcc-blue;

    &:hover {
        background: darken($color-mcc-blue, 5%);
    }
}
