.header {
  background: $color--white;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, .1);

  .header_nav a {
    display: inline-block;
    padding: 0 $unit-2;
    font-size: 18px;
    color: $color--black-80;
    opacity: 1;
  }
}

.header_nav {
  display: none;
  opacity: 0;
  margin: 0 auto;

  @media (min-width: $large) {
    display: block;
    opacity: 1;
  }
}

.header_nav a:hover {
  text-decoration: underline;
}

.masthead {
  padding: 15px 20px;
  margin: 0 auto;
  display: block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  @media (min-width: $med) {
    padding: 24px 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.home_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  @media (min-width: $med) {
    margin-right: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.header_title {
  margin: 10px 0;
  font-family: $serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-left: 12px;
  color: $color--black;

  @media (min-width: $med) {
    margin: 0;
  }
}

.mcc_logo {
  width: $unit-5;
  display: block;
}

.header.scroll {
  position: fixed;
  background: $color--white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .masthead {
    padding: $unit-2 $unit-4;
  }

  .header_nav a {
    color: $color--black;
  }
}

.header_nav a {
  font-family: $sans;
}

.header_badge {
  display: none;

  @media (min-width: $med) {
    display: block;
    margin-left: auto;
  }
}

.header_badge.live {
  background-color: $color--green;
}
