.home_hero {
    position: relative;
    display: flex;
    flex-direction: column;

    @media (min-width: $med) {
        flex-direction: row;
    }
}

.gradient-bg {
    position: absolute;
    background: rgb(15,54,75);
    background: linear-gradient(180deg, rgba(15,54,75,1) 0%, rgba(14,21,27,1) 100%);
    z-index: -1;
}

.home_hero_img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    z-index: -1;
}

.home_hero_img,
.gradient-bg {
    width: 100%;
    height: 40vh;
    @media (min-width: $med) {
        width: 50%;
        height: calc(100vh - #{$topbar});
    }

    @media (min-width: $large) {
        width: 60%;
    }
}

.home_intro {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;

    @media (min-width: $med) {
        width: 50%;
        height: calc(100vh - #{$topbar});
    }

    @media (min-width: $large) {
        width: 40%;
    }

    h1 {
        font-family: $sans;
        font-size: $unit-4;
        font-weight: 600;
        line-height: 1.1;
        color: $color--black;
        text-align: center;

        @media (min-width: $med) {
            font-size: $unit-7;
        }
    }

    p {
        color: $color--black-80;
        font-size: $unit-2;
        text-align: center;
        margin: 20px auto $gutter auto;

        @media (min-width: $med) {
            /*margin-left: 20vw;*/
            max-width: 640px;
            font-size: 20px;
        }
    }
}

.featSermon {
    margin: $unit-5 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @media (min-width: $med) {
        margin: $unit-10 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .featSermon_content {
        flex: 0 0 100%;

        @media (min-width: $med) {
            flex: 0 0 50%;
        }
    }

    .featSermon_title {
        padding-bottom: $unit;
        font-family: $heading-font;
        font-size: $fs-5;
        font-weight: 600;
        text-transform: uppercase;
        color: $color--black;
    }

    .featSermon_week {
        font-family: $sans;
        font-size: $fs-3;
        font-weight: 600;
        color: $color--black-70;

        span {
            font-weight: 400;
        }
    }

    .featSermon_img {
        padding-right: 0;
        margin-bottom: $unit-3;

        @media (min-width: $med) {
            margin-bottom: 0;
            padding-right: $unit-3;
        }
    }

    audio {
        margin: 20px 0;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: $color--blue;
    }

    .featSermon_cta {
        display: inline-block;
        margin-top: 16px;

        @media (min-width: $med) {
            margin-top: 0;
        }
    }
}

.home_buttonGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .btn--primary {
        margin-left: $unit-3;
    }
}
