.media {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  .media-img {
    object-fit: cover;
  }

  .media-content {
    margin: 0;

    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    .media-title {
      margin-top: .5rem;
      font-family: $sans;
      font-weight: 600;
    }
    
    .media-subtitle {
      font-size: 1rem;
      font-family: $sans;
    }
  }

  @media (min-width: $med) {
    flex-direction: row;

    .media-img {
      flex-basis: 280px;
      width: 280px;
      height: 280px;
    }

    .media-content {
      margin-left: 2rem;

      .media-title {
        margin-top: 0;
      }
    }
  }
}
