@import 'components/header';
@import 'components/table';
@import 'components/button';
@import 'components/menu';
@import 'components/footer';
@import 'components/home';
@import 'components/pageSermon';
@import 'components/page';
@import 'components/card';
@import 'components/form';
@import 'components/media';
@import 'components/jumbotron';
@import 'components/staff-card';
@import 'components/alert';

html {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  color: $color--gray;
  font-family: $body-font;
  font-size: $fs-2;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

audio,
embed,
img {
  max-width: 100%;
}

p {
  line-height: 1.55;
}

p + p {
  margin-top: $unit-4;
}

h1 {
  font-size: $fs-7;
}

h2 {
  font-size: $fs-6;
}

h3 {
  font-size: $fs-5;
}

h4 {
  font-size: $fs-4;
}

a {
  color: $color--blue;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

strong {
  font-weight: 600;
}

.main {
  display: block;
  line-height: 1.45;
}

.badge {
  max-height: 26px;
  padding: 14px 20px 26px;
  font-family: $sans;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background: $color-mcc-blue;
  color: $color--white;
  letter-spacing: 1px;
  border-radius: 1000px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.25s ease;

  &:hover {
    opacity: 0.9;
  }
}
