.layout--page-sermon .page_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: $color--white;
}

.sermon_video {
    display: block;
    margin: 16px auto;
}

.sermon_hero_text {
	text-align: center;

    .sermon_heading {
        margin: 0;
        margin-bottom: $unit-3;
		font-family: $heading-font; 
		font-size: $unit-6; 
        font-weight: 600;
        text-transform: uppercase;
	}

	.sermon_series {
        margin-bottom: $unit-2;     
        font-size: $fs-2;
        font-weight: 600;

        span {
            font-weight: 400;
        }
	}

	audio {
        margin: $unit-3 auto;
        display: block;
		width: 50vw; 
	}

    .btn {
        margin-bottom: $unit-3;
    }
}
