table {
    width: 100%;
    margin: $unit-3 0;
    font-family: $sans;
    font-size: 1rem;

    a {
        color: $color-mcc-blue;
    }

    th {
        font-weight: 600;
        text-align: left;
    }

    tr {
        border-spacing: $unit-2 0;
        border-bottom: 1px solid #ccc;
    }

    tr:nth-child(even) {
        background-color: #efefef;
    }
}
