---
layout: default
---

<div class="home">
  <section class="home_hero">
     {% for page in site.pages %}
      {% if page.title == 'Home' %}
      <div class="home_hero_img" style="background-image: url('{{ page.hero_image }}');"></div>
      <div class="home_intro">
          <h1 class="page_heading mb1">{{ page.heading }}</h1>
          <p>We’re a growing community of families in East Cincinnati committed to following Jesus. Visit us on Sundays at 9am and 11am. Are you new to MCC? Learn more about our church.</p>
          <a href="/about" class="btn btn--hero">Learn More</a>
        </div>
      {% endif %}
    {% endfor %}
    </section>
    <div class="container">
      <section class="featSermon grid grid--gutters">
         {% for sermon in site.sermons %}{% if sermon.is_featured == true %}
          <div class="featSermon_img grid_cell grid_cell--half">
            <img src="/uploads/isaiah.jpg" />
            <!--<img src="{{ sermon.feat_img  }}" />-->
          </div>
          <div class="featSermon_content grid_cell grid_cell--half">
              <a href="{{ sermon.url }}">
                <h4 class="featSermon_week">{{ sermon.series }} Week {{ sermon.week }}</h4></a>
                <h3 class="featSermon_title">{{ sermon.title }}</h3>
              </a> 
              <p class="featSermon_desc"> {{ sermon.content | truncate: 140, '...' }}</p>
              <audio controls preload src="{{ sermon.audio_file }}"></audio>
              <a href="{{ sermon.brochure_file }}" class="featSermon_cta">Download Brochure</a>  |  <a href="/sermons" class="featSermon_cta">See All Sermons</a>
              {% endif %}{% endfor %}
          </div>
        </section>
    </div>
</div>
