<div class="elders">
  {% assign elders = site.people | where: "is_elder", true %}
  {% for elder in elders %}
  <div class="media">
    <img class="media-img" src="{{ elder.image }}" />
    <div class="media-content">
      <h4 class="media-title">{{ elder.name }}</h4>
      {% if elder.position != null and elder.position != "" %}
        <h5 class="media-subtitle">{{ elder.position }}</h5>
      {% endif %}
      <p>{{ elder.content | markdownify }}</p>
    </div>
  </div>
  {% endfor %}
</div>
