   {% include map.html %}
   <footer class="footer">
   	<div class="footer-inner container">
	      <section class="footer-top row">
	      	<div class="footer-top-title col-sm-12 col-md-6">
	      		<h3>Looking to go deeper?</h3>
	      		<p>Let us help you <a href="#">get connected</a>.</p>
	      	</div>
	      	<div class="footer-top-actions col-sm-12 col-md-6 row">
	      		<a href="#" class="btn secondary col-sm-12 col-md-5">Join The Email List</a>
	      		<a href="#" class="btn primary col-sm-12 col-md-5">Serving Needs</a>
	      	</div>
	      </section>
	      <section class="footer-main row">
	      	<div class="footer-main-title col-sm-12 col-md-6">
	      		<h2>Mariemont Community Church</h2>
	      		<address>3908 Plainville Road</address>
	      		<address>Mariemont, Ohio 45227</address>
	      		<a href="tel:5132714376">513.271.4376</a>
	      		<a href="#">Mariemont Families Facebook Page</a>
	      		<a href="#">YouTube</a>
	      	</div>
	      	<div class="footer-main-nav col-sm-12 col-md-6 row">
	      		<ul class="col-sm-12 col-md-6">
	      			<li><a href="#">About MCC</a></li>
	      			<li><a href="#">Leadership</a></li>
	      			<li><a href="#">Sunday Experience</a></li>
	      			<li><a href="#">Kids (0-12)</a></li>
	      			<li><a href="#">Youth (13-18)</a></li>
	      		</ul>
	      		<ul class="col-sm-12 col-md-6">
	      			<li><a href="#">Small Groups</a></li>
	      			<li><a href="#">Preschool &amp; Daycare</a></li>
	      			<li><a href="#">Women's Ministry</a></li>
	      			<li><a href="#">Men's Ministry</a></li>
	      			<li><a href="#">Prayer</a></li>
	      		</ul>
	      	</div>
	      </section>
	 </div>
   </footer>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="/scripts/main.js"></script>