   {% include map.html %}
   <footer class="footer">
   	<div class="footer-inner container">
	      <section class="footer-top cf">
	      	<div class="footer-top-title">
	      		<h3>Looking to go deeper?</h3>
	      		<p>Let us help you get connected.</p>
	      	</div>
	      	<div class="footer-top-actions">
	      		<a href="/email-list" id="mailchimpPopup" class="btn footer_btn btn--secondary">Join The Email List</a>
	      		<a class="btn footer_btn btn--primary" href="mailto:mark@mariemontchurch.org" target="_blank" >Contact Us</a>
	      	</div>
	      </section>
	      <section class="footer-main cf">
	      	<div class="footer-main-title">
	      		<h2>Mariemont Community Church</h2>
	      		<address>3908 Plainville Road</address>
	      		<address>Mariemont, Ohio 45227</address>
	      		<!--<a href="tel:5132714376">513.271.4376</a>-->
	      		<a href="https://www.facebook.com/groups/1554370768117702/" target="_blank">Mariemont Families Facebook Page</a>
	      	</div>
	      	<div class="footer-main-nav">
	      		<ul class="footer-main-nav-list">
	      			<li><a href="/preschool">Preschool &amp; Extended Care</a></li>
	      			<li><a href="/kids">Kids (K-6)</a></li>
	      			<li><a href="/youth">412 (7th &amp; 8th grade)</a></li>
	      			<li><a href="/club-168">Club 168 (9th - 12th grade)</a></li>
					<li><a href="/college-careers">College &amp; Careers (19 - 24)</a></li>
	      		</ul>
	      		<ul class="footer-main-nav-list">
	      			<li><a href="/mens-ministry">Men's Ministry</a></li>
	      			<li><a href="/womens-ministry">Women's Ministry</a></li>
					<li><a href="/small-groups">Small Groups</a></li>
	      			<li><a href="/weddings">Weddings</a></li>
					<li><a href="/prayer">Prayer</a></li>  
	      		</ul>
	      	</div>
	      </section>
	 </div>
   </footer>
