   {% include map.html %}
   <footer class="footer">
   	<div class="footer-inner container">
	      <section class="footer-top row">
	      	<div class="footer-top-title col-sm-12 col-md-6">
	      		<h3>Looking to go deeper?</h3>
	      		<p>Let us help you <a href="#">get connected</a>.</p>
	      	</div>
	      	<div class="footer-top-actions col-sm-12 col-md-6">
	      		<a class="btn footer_btn btn--secondary" href="#">Join The Email List</a>
	      		<a class="btn footer_btn btn--primary" href="mailto:mark@mariemontchurch.org" target="_blank" >Contact Us</a>
	      	</div>
	      </section>
	      <section class="footer-main row">
	      	<div class="footer-main-title col-sm-12 col-md-6">
	      		<h2>Mariemont Community Church</h2>
	      		<address>3908 Plainville Road</address>
	      		<address>Mariemont, Ohio 45227</address>
	      		<a href="tel:5132714376">513.271.4376</a>
	      		<a href="https://www.facebook.com/groups/1554370768117702/ target="_blank">Mariemont Families Facebook Page</a>
	      	</div>
	      	<div class="footer-main-nav col-sm-12 col-md-6 row">
	      		<ul class="col-sm-12 col-md-6">
	      			<li><a href="/preschool">Preschool</a></li>
	      			<li><a href="#">Extended Care</a></li>
	      			<li><a href="#">Kids (K-6)</a></li>
	      			<li><a href="#">412 (7th &amp; 8th grade)</a></li>
	      			<li><a href="#">Club 168 (9th - 12th grade)</a></li>
	      		</ul>
	      		<ul class="col-sm-12 col-md-6">
	      			<li><a href="#">College &amp; Careers (19 - 24)</a></li>
	      			<li><a href="/mens-ministry">Men's Ministry</a></li>
	      			<li><a href="#">Women's Ministry</a></li>
	      			<li><a href="#">Weddings</a></li>
	      			<li><a href="/give">Give Generously</a></li>
	      		</ul>
	      	</div>
	      </section>
	 </div>
   </footer>