<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Living &amp; Loving in Jesus | Mariemont Community Church</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  <!-- Place favicon.ico in the root directory -->
  {% seo %}
  <script src="https://use.typekit.net/kjm0azk.js"></script>
  <script>
    try {
      Typekit.load({ async: true });
    } catch (e) {}
  </script>
  <script src="https://js.churchcenter.com/modal/v1"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89124481-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-89124481-1');
  </script>
  <link
    rel="stylesheet"
    type="text/css"
    href="/assets/stylesheets/application.css"
  />
</head>
