 <header class="header">
  <div class="header__inner">
      <h1 class="header__title">
        <a href="/" class="header__title__link">{{ site.title }}</a>
      </h1>
      <span class="badge">Services at 9am &amp; 11am</span>
      <span class="open_label">Menu</span>
      <div class="menu" id="menu">
        <span class="close_label">Close Menu</span> 
        <nav role="navigation" class="header__nav">
            {% for menu_page in site.pages %}
              {% if menu_page.title %}
                <a href="{{ menu_page.url }}" class="header__nav__link">{{ menu_page.title }}</a>
              {% endif %}
            {% endfor %}
          <a href="#">Give Online</a>
        </nav>
        <a class="tele" href="tel:5132714376">513-271-4376</a>
        <address>3908 Plainville Road, Mariemont, Ohio 45227</address>
      </div>
    </div>
  </header>