<header class="header">
    <div class="masthead">
        <a class="home_link" href="/" alt="{{ site.title }}">
            <img class="mcc_logo" src="/uploads/blue_mcc_logo.png" />
            <h1 class="header_title">Mariemont Community Church</h1>
        </a>
        <span class="open_label">Menu</span>
        <nav class="header_nav">
            <a href="/about">About</a>
            <a href="/grow">Grow &amp; Serve</a>
            <a href="/media">Media</a>
            <a href="#"
                onClick="GivingWindow=window.open('https://wmt.suran.com/widget/render_widget?guid=9789ecdca2a411e5b0395ded37c94191','GivingWindow',width=600,height=300); return false;">
                Give</a>
            <a href="/connect">Connect</a>
        </nav>
        {% include mobile-nav.html %}
        <span class="badge header_badge">Services at 9am &amp; 11am</span>
    </div>
</header>
