<header class="header">
   <!-- {% include alert.html content="Click here for latest news updates. Join our online services Sundays at 10 am." url="/updates"%} -->
   {% include alert.html content="Join the 10 am stream" url="https://www.youtube.com/watch?v=TJzeRuVECfo" %}
    <div class="masthead">
        <a class="home_link" href="/" alt="{{ site.title }}">
            <img class="mcc_logo" src="/uploads/blue_mcc_logo.png" />
            <h1 class="header_title">Mariemont Community Church</h1>
        </a>
        <span class="open_label">Menu</span>
        <nav class="header_nav">
            <a href="/about">About</a>
            <a href="/grow">Grow &amp; Serve</a>
            <a href="/media">Media</a>
            <a href="https://engage.suran.com/mcc/s/give/new-gift" target="_blank">Give</a>
            <a href="/connect">Connect</a>
            <a href="/updates">Updates</a>
        </nav>
        {% include mobile-nav.html %}
        <span class="badge header_badge">Services at 9am &amp; 11am</span>
    </div>
</header>
