<div class="menu" id="menu">
    <div class="menu_inner">
        <span class="close_label">Close Menu</span>
        <nav role="navigation" class="menu_nav">
            <a href="/" class="menu_nav_link">Home</a>
            <a href="/about" class="menu_nav_link">About</a>
            <a href="/grow" class="menu_nav_link">Grow &amp; Serve</a>
            <a href="/media" class="menu_nav_link">Media</a>
            <a href="/connect" class="menu_nav_link">Connect</a>
            <a href="/updates" class="menu_nav_link">Updates</a>
            <!--{% for menu_page in site.pages %}
                {% if menu_page.title %}
                  <a href="{{ menu_page.url }}" class="menu_nav_link">{{ menu_page.title }}</a>
                {% endif %}
              {% endfor %}-->
            <button class="btn btn--hero"
                onClick="GivingWindow=window.open('https://wmt.suran.com/widget/render_widget?guid=9789ecdca2a411e5b0395ded37c94191','GivingWindow',width=600,height=300); return false;">
                Give Online</a>
        </nav>
        <div class="menu_footer">
            <!--<a class="tele" href="tel:5132714376">513-271-4376</a>-->
            <address>3908 Plainville Road, Mariemont, Ohio 45227</address>
        </div>
    </div>
</div>
