<div class="menu" id="menu">
  <div class="menu_inner">
    <span class="close_label">Close Menu</span>
    <nav role="navigation" class="menu_nav">
      <a href="/" class="menu_nav_link">Home</a>
      <a href="/about" class="menu_nav_link">About</a>
      <a href="/grow" class="menu_nav_link">Grow &amp; Serve</a>
      <a href="https://www.youtube.com/@MariemontChurch/streams" target="_blank" rel="noopener noreferrer" class="menu_nav_link">Media</a>
      <a href="/updates" class="menu_nav_link">Events</a>               
      <a href="/kids/" class="menu_nav_link">Kingdom Kids</a>
      <a href="/mens-ministry/" class="menu_nav_link">Men's Ministry</a>
      <a href="/womens-ministry/" class="menu_nav_link">Women's Ministry</a>
      <a href="/youth-ministry/" class="menu_nav_link">Next Chapter Youth Ministry</a>
      <a href="/rooted-discipleship/" class="menu_nav_link">Rooted Discipleship</a>
      <a
        data-stream-btn
        href="https://www.youtube.com/user/MariemontCh/videos?view=0&sort=dd&flow=grid"
        target="_blank"
        class="btn btn--hero"
        >Watch Latest Sermon</a
      >
      <a
        class="btn btn--hero"
        href="https://mariemontchurch.churchcenter.com/giving?open-in-church-center-modal=true"
        >Give Online</a
      >
    </nav>
    <div class="menu_footer">
      <!--<a class="tele" href="tel:5132714376">513-271-4376</a>-->
      <address>3908 Plainville Road, Mariemont, Ohio 45227</address>
    </div>
  </div>
</div>
