<div class="sidebar">
	<div class="accent-bar {{ page.color }}">
	</div>
	<div class="content-bar">
		<h1><a href="#">Mariemont Community Church</a></h1>
		<h2 class="intro">We are a growing community of families in East Cincinnati united by our commitment to follow Jesus.</h2>
		<h3>New to MCC? Check out these helpful links for more on how to deepen your church experience.</h3>

		<ul>
			<li><a class="sidebar--btn" href="#">What we believe</a></li>
			<li><a class="sidebar--btn" href="#">Meet the staff</a></li>
			<li><a class="sidebar--btn" href="#">Children &amp; youth programs</a></li>
			<li><a class="sidebar--btn" href="#">Find a small group</a></li>
			<li><a class="sidebar--btn" href="#">Become a member</a></li>
		</ul>
	</div>
</div>