@import 'utils/reset';
@import 'utils/vars';
@import 'utils/functions';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  color: $color--gray;
  font-family: $sans;
  font-size: $font-size--base;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

audio, embed, img, video {
  max-width: 100%;
}

p {
  line-height: 1.55;
}

p + p {
  margin-top: 16px;
}

pre, code {
    margin-bottom: 16px;
    font-size: em(14px);
    font-family: Source Code Pro,Consolas,Lucida Console,Monaco,monospace;
    line-height: 2;
}

.highlight {
    padding: 16px;
    margin: 16px 0;
    background-color: #f9f9f9;
    border: 1px solid #efefef;
    overflow-x: auto;
    border-radius: 4px;
}  

h1, h2, h3 {
  color: $color--black;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: normal;
}

h1 {
  font-size: 36px; 
}

h2 {
  font-size: 28px; 
}

h3 {
  font-size: 24px; 
}

h4 {
  font-size: 18px; 
}

a {
  //color: $color--blue;
  text-decoration: underline;
  text-decoration-color: $color--blue; 
  color: inherit; 

  &:hover {
    cursor: pointer; 
  }
}

.main {
  display: block; 
  /* padding-top: em($gutter * 2); */
  line-height: 1.5;
}

.wrap {
  margin: auto;
  width: 1120px;
  //width: 80%;
}

.skip-to-main {
  position: fixed;
  left: -9999px;
  top: -9999px;

  &:focus {
    top: $gutter;
    left: $gutter;
  }
}

.btn {
  display: inline-block; 
  font-size: 18px; 
  text-align: center;
  padding: 16px 24px;
  border-radius: 4px;
  max-width: 265px;  
  text-decoration: none;
  color: $color--white;
  transition: all .3s ease-in-out; 
}

.primary {
  background: $color--blue;
  &:hover {
    background: darken($color--blue, $color-shift)
  }
}

.secondary {
  background: $color--dark-gray;
  &:hover {
    background: lighten($color--dark-gray, $color-shift);
  }
}

.btn:hover {
  color: $color--white;
}


.badge {
  font-size: 14px; 
  background: $color--blue; 
  padding: 9px 14px 6px; 
  text-transform: uppercase; 
  color: $color--white; 
  letter-spacing: 1px; 
  border-radius: 100px;
  max-height: 26px; 
}



@import 'components/header';
@import 'components/article';
@import 'components/footer';
@import 'components/frontpage';