.sans {
  font-family: $sans;
}

.serif {
  font-family: $serif;
}

.f1 {
  font-size: $fs-1 !important;
}

.f2 {
  font-size: $fs-2 !important;
}

.f3 {
  font-size: $fs-3 !important;
}

.f4 {
  font-size: $fs-4 !important;
}

.f5 {
  font-size: $fs-5 !important;
}

.f6 {
  font-size: $fs-6 !important;
}

.f7 {
  font-size: $fs-7 !important;
}

.f8 {
  font-size: $fs-8 !important;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.timestamp {
  font-size: $fs-2;
  color: rgba(0, 0, 0, 0.5);
}
