.push-top {
  margin-top: 1rem !important;
}

.soft-top {
  padding-top: 1rem !important;
}

.soft-top-half {
  padding-top: .5rem !important;
}

.push-bottom {
  margin-bottom: 1rem !important;
}

.flush {
  margin: 0 !important;
}
