.push-top {
  margin-top: 1rem !important;
}

.soft-top {
  padding-top: 1rem !important;
}

.soft-top-half {
  padding-top: 0.5rem !important;
}

.push-bottom {
  margin-bottom: 1rem !important;
}

.push-bottom-half {
  margin-bottom: 0.5rem !important;
}

.flush {
  margin: 0 !important;
}

[data-visually-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  width: 0;
}

[data-visually-hidden='false'] {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
