.header {
  display: flex;
  align-items: center;
  background: white;
  padding: 0 8rem;
  position: sticky;
  top: 0;

  .title {
    color: #182b3a;
  }
}

.main {
  margin: 0 auto;
  max-width: 90rem;
  padding: 1rem 8rem;
}

.subtitle {
  margin-left: 0.5rem;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
}

.summary {
  font-size: 19px;
  line-height: 1.55;
}

.tag {
  font-size: 14px;
  text-transform: uppercase;
  background: black;
  padding: 0.5rem 0.75rem;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 14px;
}
