/* Add and edit these colors */
$color--white: #ffffff; 
$color--black: #1D1E1E;
$color--dark-gray: #2E2F2F;
$color--blue: #3498DB;
$color--dark-blue: darken($color--blue, 7%);
$color--gray: #3E4A56;
$color--light-gray: #9098A3;
$color--green: #6abc2b;
$color--light-gray-grad: linear-gradient(-135deg, #F1EFEF 0%, #E0E0E0 100%);
$color-shift: 10%; 

//Brand Colors

$color-mcc-blue: #11338D;
$color-mcc-purple: #4E0D7A;
$color-mcc-green: #0D6A53;
$color-mcc-orange: #BC5E18;

$font-size--base: 16px;

// Remember to maintain this list
$system--font: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;

$serif: "Grad", Georgia, serif;
$sans: "proxima-nova", "HelveticaNeue", Helvetica, sans-serif;

$gutter: 30px;

$small: 400px; 
$med: 768px; 
$large: 1200px;
$xlarge: 1440px; 