.card_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: wrap row;
	flex-flow: wrap row;
}

.card {
	min-height: 400px;
	max-width: 24rem;
	margin: 20px 0;    

	.card_main {
		height: 420px;
		position: relative;
		display: block;
		width: 100%; 
		text-decoration: none;
		color: $color--black-70;
		background-color: $color--white; 
		transition: .25s all ease-in-out; 
		box-shadow: 0 20px 20px rgba(0,0,0,.08);
	}
 
	.card_text {
		padding: $unit-2 $unit-3;

		.card_title {
			margin-bottom: $unit;
			font-family: $body-font; 
			font-size: $fs-4;
			color: $color--black-90;
		}
	}

	.card_date {
		padding: $unit-2;
		width: 100%; 
		position: absolute;
		bottom: 0; 
		font-family: $heading-font;
		text-transform: uppercase; 
		letter-spacing: 1px; 
		font-size: $fs-2;
		color: $color--dark-blue;  
		border-top: 1px solid rgba(0,0,0,.1);
	}
}

.card_main:hover {
	box-shadow: 0 20px 30px rgba(0,0,0,.15);
	transform: translateY(-10px);
}
