/* events */

.card_list {
	display: flex; 
	flex-flow: wrap row;
}

.card {
	min-height: 400px;
	max-width: 24rem;
	margin: 20px 0;    
	
	&.sermon_card {
		min-height: 360px;
	}

	.card_exerpt { 
		margin-top: 6px; 
	}

	.card_img {
		margin-bottom: 20px;
	}

	.card_main {
		height: 400px;
		position: relative;
		display: block;
		width: 100%; 
		text-decoration: none;
		background-color: $color--white; 
		transition: .25s all ease-in-out; 
		box-shadow: 0 20px 20px rgba(0,0,0,.08);
		vertical-align: top; 
	}

	.card_title, 
	.card_date {
		padding: 20px;
	}

	.card_title {
		position: absolute;
    	top: 220px;
		font-family: $body-font; 
		font-size: $fs-4;
	}

	.card_date {
		padding-top: 12px;
		width: 100%; 
		position: absolute;
		bottom: 0; 
		font-family: $heading-font;
		text-transform: uppercase; 
		letter-spacing: 1px; 
		font-size: $fs-2;  
		border-top: 1px solid rgba(0,0,0,.1);
	}
}

.card_main:hover {
	box-shadow: 0 20px 30px rgba(0,0,0,.15);
	transform: translateY(-10px);
}
