/* events */

.card {
	min-height: 400px;
	margin: 20px 0;  
	position: relative;  
	//display: inline-block; 
	vertical-align: top;
	box-shadow: 0 20px 20px rgba(0,0,0,.08);
	transition: .25s all ease-in-out;  

	&.sermon_card {
		min-height: 360px;
	}

	p { margin-top: 6px; }

	figure {
		width: 100%; 
		height: 202px; 
		margin: 0;
	}

	a {
		display: block;
		width: 100%; 
		padding: 20px;
		text-decoration: none;
		//height: 200px;
		background: $color--white; 
	}


	.card_title {font-family: $serif; font-size: 24px;}

	.card_date {
		position: absolute; 
		width: 88%;
		bottom: 12px; 
		text-transform: uppercase; 
		letter-spacing: 1px; 
		font-size: 14px; 
		padding-top: 10px; 
		border-top: 1px solid rgba(0,0,0,.1);
	}
}

.card:hover {
	box-shadow: 0 20px 30px rgba(0,0,0,.15);
	transform: translateY(-10px);
}
