.map_title,
.map_subtitle {
	text-align: center;
}

.map_title {
	padding-top: $unit-5;
	margin-bottom: $unit-2;
	font-family: $sans;
	font-size: $unit-4;
	font-weight: 600;
}

.map_subtitle {
	font-size: $fs-3;
}

.maps {
	margin-top: $gutter;

	iframe {
		// to block random scrolling down page
		pointer-events: none;
		width: 100%; 
	}
}

.footer {
  width: 100%; 
  color: $color--light-gray;
  min-height: 450px;
  font-size: $fs-2;
  padding-bottom: 40px; 
  text-align: left;
  background: $color--black; 
  overflow: auto;
}

.footer-top {
	padding: 34px 0;
	margin-bottom: 32px;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.footer-main-nav,
.footer-top-title, 
.footer-main-title, 
.footer-top-actions {
	width: 100%; 

	@media (min-width: $med) {
		width: 50%;
	}
}

.footer-top-title, .footer-main-title {
	float: left; 
}

.footer-top-actions, .footer-main-nav {
	float: none; 

	@media (min-width: $med) {
		float: right; 
	}
}

.footer-top-actions {
	display: flex; 
}

.footer-main-title {
	line-height: 30px; 
	margin-bottom: 20px;

	h2 { 
		font-size: $fs-3; 
		font-weight: 500; 
		color: $color--white;
		margin-bottom: 4px; 

		@media (min-width: $med) {
			font-size: 24px; 
		}
	}

	a {
		display: block;
	}
}

.footer-top-title h3 { 
	font-size: $fs-4; 
	color: $color--white; 
	margin-bottom: 10px;
}

.footer-main-nav-list {
	width: 100%;

	@media (min-width: $med) {
		float: left; 
		width: 50%;
	} 
}

.footer-main-nav ul li {
	line-height: 30px;
	a {
		color: #cccccc;
		text-decoration: none; 
		&:hover {
			cursor: pointer; 
			color: $color--white;
		}
	}
}
