.form_container {
    padding: 24px;
    margin-bottom: 32px;
    background-color: $color--gray;
    color: $color--white-80;

    .form_instructions, 
    .form_title {
        text-align: center;
    }
    
    .form_title {
        font-family: $serif;
        font-size: 32px; 
        color: $color--white; 
    }

    .form_instructions {
        margin-bottom: 16px;
    }
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-flow: nowrap column; 
        flex-flow: nowrap column;

    @media (min-width: $med) {
        flex-flow: wrap row;
    }

    .form_field {
        padding: 0;
        flex: 0 0 100%;
        display: flex;
        border: 0;
    }

}

.form_label {
    margin-bottom: 16px;
}

.form_input,
.form_submit {
    padding: 14px;
    width: 100%;
}

.form_input {
    margin-bottom: 24px;
}

.form_submit {
    font-size: 24px;
}

.form_container {
    height: 100vh;
    max-height: 800px;
    position: relative;
    padding-top: $unit-4;

    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
