/* Home Page Styles */

.home_hero {position: relative;}
.home_hero_img {
	float: none; 
	width: 100%; 
	height: 75vh;
	background-size: cover;
	display: block; 
	z-index: -1; 

	@media (min-width: $med) {
		height: 80vh; 
		max-height: 860px;
	}

	@media (min-width: $large) { 
		height: 82vh; 
		max-height: 800px;
	}
}

.cta_group {
	width: 80%;
	margin: 0 auto;

	@media (min-width: $med) {
		width: 505px;
	}

	@media (min-width: $large) {
	}
}

.hero_btn {
	width: 220px;
	font-size: 16px; 

	@media (min-width: $med) {
		font-size: 18px; 
		width: 220px;
	}
}


.home_intro {
	width: 100%;
	float: none;
	z-index: 10;
	position: absolute;
	right: 0; 
	left: 0;
	top: 12vh; 
    margin: auto;
    padding: 0 20px; 

	@media (min-width: $med) {
    	width: 80%; 
    	max-width: 1120px; 
    	top: 18vh; 
	}

	@media (min-width: $large) {
    	top: 20vh; 
	}

	h1 {
		font-family: $serif; 
		font-size: 36px; 
		line-height: 1.5; 
		color: $color--black; 
		text-align: center; 

		@media (min-width: $med) {
			font-size: 48px;
		}
		
		@media (min-width: $large) {
			font-size: 60px; 
		}
	}

	p {

		font-size: 16px; 
		text-align: center; 
    	margin: 20px auto $gutter auto;

		@media (min-width: $med) {
			//margin-left: 20vw;
    		max-width:640px;
    		font-size: 20px; 
		}

		@media (min-width: $large) {

		}
	}
	.btn {
		margin-left: $gutter;
		max-width: 246px;
	}
}

.feat_sermon { 
	background: $color--dark-gray;
	padding: 20px;
	z-index: 5; 
	max-height: 25vh;

	@media (min-width: $med) {
		max-height: 20vh;
	} 

	.feat_sermon_inner {
		max-width: 1120px; 
		margin: 0 auto; 
	}

	h3 {
		color: $color--white;
		font-family: $serif;
		margin-bottom: 10px;
		font-size: 20px; 

		@media (min-width: $med) {
			font-size: 24px; 
		}
	}

	h4 {
		color: rgba(255,255,255,.75);
		font-size: 14px; 
		text-transform: uppercase; 
		letter-spacing: 1px; 
	}

	audio {
		// width: 100%; 
	}

 	a {
 		text-decoration: none;
 		color: $color--white; 
 	}

 	.cta {
 		display: block;
    	margin-top: 16px;

    	@media (min-width: $med) {
    		margin-top: 0;
    	}
 	}
}

.mission {
	margin: 40px 0; 
	text-align: left;

	@media (min-width: $med) {
		margin: 100px auto;
		text-align: center;
		max-width: 700px; 
	}

	@media (min-width: $large) { 
		margin: 140px auto;
		max-width: 930px;
	}

	h2 {
		font-size: 32px;
		line-height: 1.25; 
		font-family: $serif;
		margin-bottom: 20px;

		@media (min-width: $med) {
			font-size: 38px;
		}

		@media (min-width: $large) {
			font-size: 48px; 
			margin-bottom: 40px;
		}
	}
}

.events_link {
	@media (min-width: $large) {
    text-align: right;
    padding-top: 14px;
	}
}
