/* Home Page Styles */

.home_hero {position: relative;}
.home_hero_img {
	float: none; 
	width: 100%; 
	height: 50vh; 
	background: url('https://hd.unsplash.com/photo-1415226355641-7f90f89def6a') no-repeat; 
	background-size: cover;
	display: block; 
	z-index: -1; 

	@media (min-width: $med) {
		width: 50%;
		float: left; 
		height: 110vh; 
	}

	@media (min-width: $large) { 
		width: 60%;
		max-width: 1200px;	
		max-height: 1200px;
		
	}
}

.home_intro {
	width: 100%;
	float: none;
	z-index: 10;
	padding: 20px; 

	@media (min-width: $med) {
	 	width: 50%; 
		float: right;
		padding: 30px;
    	margin-top: 80px;
	}

	@media (min-width: $large) {
		margin-left: 50%;
    	width: 600px;
    	position: absolute;
    	top: 30px; 
	}

	h1 {
		font-family: $serif; 
		font-size: 32px; 
		line-height: 42px; 
		color: $color--black; 

		@media (min-width: $med) {
			font-size: 42px; 
			line-height: 56px; 
		}
		
		@media (min-width: $large) {
			font-size: 70px; 
			line-height: 78px;	
		}
	}

	p {

		margin-left: 0;
		width: 100%;

		@media (min-width: $med) {
			//margin-left: 20vw;
    		//max-width: 330px;
		}

		@media (min-width: $large) {
			margin-left: 140px;
    		max-width: 400px; 
		}
	}
}

.feat_sermon {
	margin-top: 20px; 
	background: $color--blue;
	padding: 20px; 

	span  {
		font-size: 14px; 
		text-transform: uppercase; 
		letter-spacing: 1px; 
		color: rgba(0,0,0,.5); 
	}

	h4 {
		color: $color--white; 
		margin-bottom: 12px;
	}

	audio {
		width: 100%; 
		margin-bottom: 12px;
	}

 	a {
 		text-decoration: none;
 		color: $color--white; 
 	}
}

.mission {
	margin: 40px 20px; 
	text-align: left;

	@media (min-width: $med) {
		margin: 120px auto;
		text-align: center;
	}

	@media (min-width: $large) { 
		max-width: 930px;
	}

	h2 {
		font-size: 36px;
		line-height: 1.25; 
		font-family: $serif;
		margin-bottom: 20px;

		@media (min-width: $large) {
			font-size: 48px; 
			margin-bottom: 40px;
		}
	}
}

