/* Home Page Styles */

.hero {position: relative;}
.hero-img {
	float: left; 
	background: url('https://hd.unsplash.com/photo-1415226355641-7f90f89def6a') no-repeat; 
	background-size: cover;
	width: 60%; 
	max-width: 1200px;	
	height: 110vh; 
	max-height: 1200px;
	display: block; 
	z-index: -1; 
}

.home-intro {
	margin-left: 570px; 
	width: 550px; 
	float: right;
	z-index: 10;
	position: absolute; 
	top: 140px;

	h1 {
		font-family: $serif; 
		font-size: 70px; 
		line-height: 78px;
	}

	p {
		margin-left: 190px;
		max-width: 360px; 
	}
}

.feat_sermon {
	margin-top: 20px; 
	background: $color--blue;
	padding: 20px; 

	span  {
		font-size: 14px; 
		text-transform: uppercase; 
		letter-spacing: 1px; 
		color: rgba(0,0,0,.5); 
	}

	h4 {
		color: $color--white; 
		margin-bottom: 12px;
	}

	audio {
		width: 100%; 
		margin-bottom: 12px;
	}

 	a {
 		text-decoration: none;
 		color: $color--white; 
 	}
}

.mission {
	margin: 120px auto; 
	text-align: center;
	max-width: 930px;

	h2 {
		font-size: 48px; 
		line-height: 1.25; 
		font-family: $serif;
		margin-bottom: 40px;
	}
}

/* events */



.event_card {
	width: 30%;
	min-height: 400px;
	margin: 0 2.5% 40px 0; 
	position: relative;  
	display: inline-block; 
	vertical-align: top;
	box-shadow: 0 20px 20px rgba(0,0,0,.08);
	//background-image: $color--light-gray-grad; 

	p { margin-top: 0; }

	figure {
		width: 100%; 
		height: 200px; 
	}

	a {
		display: block;
		width: 100%; 
		padding: 20px;
		text-decoration: none;
		height: 200px;
	}

	
	.event_title {font-family: $serif;}

	.event_date {
		position: absolute; 
		width: 296px;
		bottom: 12px; 
		text-transform: uppercase; 
		letter-spacing: 1px; 
		font-size: 14px; 
		padding-top: 10px; 
		border-top: 1px solid rgba(0,0,0,.1);
	}
}

.event_card:last-child {
	margin-right: 0; 
}