.header {
  background: $color--white;
  position: absolute;
  top: 0; 
  width: 100%;
  z-index: 9999;  
  padding: 15px 20px;
  transition: all .3s ease-in-out; 
  
  @media (min-width: $med) {
    padding: 24px 30px; 
  }

  .header_nav a {
      display: inline-block; 
      opacity: 1; 
      padding: 0 12px; 
    }
}

.header_nav {
  display: none; 
  opacity: 0; 
  margin: 0 auto; 
  
  @media (min-width: $large) {
    display: block; 
    opacity: 1;
  }
}

.header_nav a:hover {
  text-decoration: underline; 
}

.masthead {
    padding: 0;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    @media (min-width: $large) {
      padding: 0 30px; 
    }
}

.header__title {
  font-size: 17px;
  margin: 0;
  font-family: $serif; 
  font-weight: 500; 
  text-align: center;
  float: left; 
  text-align: left;
  padding-left: 10px;
  padding-top: 18px; 
  
  @media (min-width: $med) {
    font-size: 20px; 
    padding-top: 15px;
  }

}

.header.scroll {
  position: fixed; 
  background: $color--white; 
  padding: 12px 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);

  .header_nav a, .header__title {
    color: $color--black;
  }
}

.mcc_logo {
  float: left;
  width: 36px; 
  display: block;
  margin: 10px auto; 
}

.header_badge { 
  display: none; 

  @media (min-width: $med) {
    display: block;
  }
}

.header__inner {
    margin: 0 auto;
    max-width: 1120px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

