  .header {
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 20;  
  padding: 28px 20px; 
  transition: all .3s ease-in-out; 
  
  @media (min-width: $med) {
    padding: 35px 30px; 
  }

  nav a {
    display: none; 
    opacity: 0; 

    @media (min-width: $large) {
      display: inline-block; 
      opacity: 1; 
      padding: 0 12px; 
    }
  }
}

.header.scroll {
  background: $color--white; 
}

.header__title {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  float: none; 
  font-family: $serif; 
  font-weight: 500; 

  @media (min-width: $med) {
    font-size: 20px; 
    float: left; 
  }
}

.mcc_logo {
width: 60px; 
margin: 10px auto; 
float: none; 
  @media (min-width: $med) {

  }
  @media (min-width: $large) {
    width: 8%;
    float: left;
    margin-right: 12px; 
  }
}

.header_badge { 
  display: none; 

  @media (min-width: $med) {
    display: block;
  }
}

.header__inner {
    margin: 0 auto;
    max-width: 1120px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu {
    background: $color-mcc-blue;
    left: 0;
    padding-bottom: 30px;
    padding-top: 20px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    transition: .45s all ease-out; 
    -webkit-transform: translateY(-100%) translateZ(0);
    -moz-transform: translateY(-100%) translateZ(0);
    -ms-transform: translateY(-100%) translateZ(0);
    -o-transform: translateY(-100%) translateZ(0);
    transform: translateY(-100%) translateZ(0);
    z-index: 20;

    &.show {
      display: block;
      -webkit-transform: translateY(0) translateZ(0);
      -moz-transform: translateY(0) translateZ(0);
      -ms-transform: translateY(0) translateZ(0);
      -o-transform: translateY(0) translateZ(0);
      transform: translateY(0) translateZ(0);
    }

     .tele, address { 
      font-family: $serif; 
      font-size: 16px;
      color: $color--white;
      line-height: 1.6;
      text-decoration: none;
    }
  }

.header__nav {
    margin-bottom: 40px; 

    a {
      font-size: 24px; 
      color: $color--black;
    }
}

.header__nav__link {
  color: $color--light-gray;
  display: block; 
  text-align: center; 
  margin: 20px 0; 
  font-size: 16px;
  text-decoration: none;

  @media (min-width: $med) {
    display: inline-block;
    margin: 0 16px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.open_label {
  position: relative; 
  color: $color-mcc-blue;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:hover {
    color: $color--black;
  } 
  &:hover:after {
    background: $color--black; 
    right: 55px;
  }
}

.close_label {
    display: block;   
    width: 100px;
    margin: 0 auto 20px;
    font-size: 16px;
    padding: 20px 0;
    color: $color--white; 
    cursor: pointer;  
}