.home_hero {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.home_hero_img {
    float: none;
    width: 100%;
    height: calc(100vh - 120px);
    background-size: cover;
    display: block;
    z-index: -1;

    @media (min-width: $med) {
        max-height: 1024px;
    }
}

.home_intro {
    position: absolute;
    padding: 0 $unit-3;
    width: 100%;
    z-index: 1;

    @media (min-width: $med) {
        width: 80%;
        max-width: 1120px;
    }

    h1 {
        font-family: $serif;
        font-size: 40px;
        line-height: 1.2;
        color: $color--white;
        text-align: center;

        @media (min-width: $med) {
            font-size: $unit-6;
            line-height: 1.5;
        }

        @media (min-width: $large) {
            font-size: $unit-8;
        }
    }
    p {
        color: $color--white;
        font-size: $unit-2;
        text-align: center;
        margin: 20px auto $gutter auto;
        @media (min-width: $med) {
            /*margin-left: 20vw;*/
            max-width: 640px;
            font-size: 20px;
        }
    }
}

.featSermon {
    width: 100%;
    max-width: 1080px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: $unit-5;
    margin-bottom: $unit-5;

    @media (min-width: $med) {
        padding: 0 $unit-4;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: $unit-10;
        margin-bottom: $unit-10;
    }
    .featSermon_title {
        color: $color--black;
        font-family: $serif;
        margin-bottom: 12px;
        font-size: 24px;
        @media (min-width: $med) {
            font-size: 28px;
        }
    }
    .featSermon_week {
        color: rgba(0, 0, 0, .75);
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    audio {
        margin: 20px 0;
        width: 100%;
    }
    a {
        text-decoration: none;
        color: $color--blue;
    }
    .featSermon_cta {
        display: inline-block;
        margin-top: 16px;
        @media (min-width: $med) {
            margin-top: 0;
        }
    }
}

.featSermon_img {
    margin-bottom: 20px;
}

.mission {
    margin: 40px 0;
    text-align: left;
    display: none;
    @media (min-width: $med) {
        display: block;
        margin: 100px auto;
        text-align: center;
        max-width: 700px;
    }
    @media (min-width: $large) {
        margin: 140px auto;
        max-width: 930px;
    }
    h2 {
        font-size: 32px;
        line-height: 1.25;
        font-family: $serif;
        margin-bottom: 20px;
        @media (min-width: $med) {
            font-size: 38px;
        }
        @media (min-width: $large) {
            font-size: 48px;
            margin-bottom: 40px;
        }
    }
}

.events_link {
    @media (min-width: $large) {
        text-align: right;
        padding-top: 14px;
    }
}
