.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    padding-bottom: $unit-4;
    padding-top: $unit-3;
    background-color: $color--black;
    text-align: center;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    -webkit-transition: .35s all ease-in-out;
    transition: .35s all ease-in-out;
    &.show {
        height: 100%;
        overflow: auto;
        opacity: 1;
        z-index: 1;
    }
    .tele,
    address {
        font-family: $serif;
        font-size: $fs-2;
        color: $color--white;
        line-height: 1.6;
        text-decoration: none;
    }
}

.menu_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu_nav_link {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    color: $color--white;
    display: block;
    text-align: center;
    margin: $unit-3 $unit-2;
    font-size: $unit-3;
    font-family: $serif;
    text-decoration: none;
    a {
        display: block;
        opacity: 1;
    }
    @media (min-width: $med) {
        margin: $unit-3 0;
    }
    &:hover {
        text-decoration: underline;
    }
}

.open_label {
    display: block;
    opacity: 1;
    color: $color-mcc-blue;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
        text-decoration: underline;
    }
    @media (min-width: $med) {
        width: $unit-10;
        margin: 0 auto;
        position: relative;
        right: 0;
    }
    @media (min-width: $large) {
        opacity: 0;
        display: none;
    }
}

.close_label {
    display: block;
    width: 100px;
    margin: 0 auto $unit-3;
    font-size: $fs-2;
    padding: $unit-3 0;
    color: $color--white;
    cursor: pointer;
}