.menu {
    position: absolute; 
    display: block;
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0;
    opacity: 0;
    -webkit-transition: .35s all ease-in-out;
    transition: .35s all ease-in-out;
    visibility: hidden;
    z-index: 0; 

    &.show {
        visibility: visible;
        opacity: 1;
        z-index: 100; 
    }
}

.menu_inner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; 
    width: 100%;
    width: 100vw;
    height: 100%; 
    height: 100vh;
    text-align: center;
    background-color: $color--black; 


    .menu_footer {
         margin-top: auto;
         padding-bottom: $unit-2;
    }

    .tele,
    address {
        font-family: $sans;
        font-size: $fs-2;
        color: $color--white;
        line-height: 1.6;
        text-decoration: none;
    }
}

.menu_nav {
    margin: auto;
}

.menu_nav_link {
    color: $color--white;
    display: block;
    text-align: center;
    margin: $unit-4 $unit-2;
    font-size: $fs-3;
    font-family: $sans;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;

    a {
        display: block;
        opacity: 1;
    }

    @media (min-width: $med) {
        margin: $unit-3 0;
    }

    &:hover {
        text-decoration: underline;
    }
}

.open_label {
    display: block;
    opacity: 1;
    color: $color-mcc-blue;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
        text-decoration: underline;
    }

    @media (min-width: $med) {
        margin: 0 auto;
        position: relative;
    }

    @media (min-width: $large) {
        opacity: 0;
        display: none;
    }
}

.close_label {
    display: block;
    margin-bottom: auto;
    width: 100px;
    margin: 0 auto;
    font-size: $fs-2;
    padding: $unit-4 0;
    color: $color--white;
    cursor: pointer;
}