/*Page Styles*/
.page_header {
	width: 100%;
	height: 100vh;
	max-height: 50rem;
	margin-bottom: $gutter * 2;
	padding: $gutter * 2;
	text-align: center;
	background-color: burlywood;

	& .page_title {
		font-family: $heading-font;
		font-size: $fs-6;
		font-weight: 600;
		text-transform: uppercase;
		color: $color--white;
	}
}

.page_hero {
	width: 100%;
	height: calc(100vh - #{$topbar});
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: $unit-5;
	max-height: 900px;

	.page_heroText {
		padding: $unit-2;
		max-width: ($unit-10 * 10);
	}
}

.page_heroButtonGroup {
	margin: $unit-3 0;

	.btn {
		margin-right: 1rem;
	}

	&:last-child {
		margin-right: 0;
	}
}

.page_heading,
.page_leadIn {
	text-align: center;
	color: $color--white;
}

.page_heading {
	margin-bottom: $unit;
	font-family: $sans;
	font-size: $fs-6;
	font-weight: 600;
	line-height: 1.2;

	@media (min-width: $med) {
		font-size: $fs-7;
	}
}

.page_heading--noBg {
	margin: $unit-6 0 $unit-2;
	font-size: $fs-4;
	color: $color--black-90;

	@media(min-width: $med) {
		text-align: left;
	}
}

.page_leadIn {
	margin: 0 auto;
	max-width: 640px;
	font-size: $fs-3;
}

.page_figure {
	margin: $unit-6 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	figcaption {
		margin-top: $unit-2;
		font-style: italic;
	}
}


/*Download Bar */
.page_downloadBar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: $unit-10;
	padding: $unit-3 $unit-5;
	text-align: center;
	color: $color--white;
	background-color: $color--dark-gray;

	.page_downloadInfo {
		display: none;
		@media (min-width: $med) {
			display: inline;
			margin-right: $unit-4;
		}
	}
}

.page_content {
	font-family: $body-font;

	@media (min-width: $med) {
		max-width: 34rem;
	}
	
	h2 {
		margin: $unit-4 0 $unit;
		font-family: $heading-font;
		font-size: $fs-5;
		font-weight: 600;
		text-transform: uppercase;
		color: $color--black;
	}

	h3 {
		font-family: $sans;
		font-size: $fs-4;
		font-weight: 600;
	}

	p {
		margin-bottom: $unit-3;
		font-size: $fs-2;
		line-height: 1.55;
	}

	ul {
		list-style: disc;
		margin-left: 20px;

		li {
			margin: 10px 0;
		}
	}
}


