.page_content {

	@media (min-width: $med) {
		max-width: 640px;	
	}

	h2 {
		font-size: 24px;
		margin: 20px 0 10px;
		font-family: $serif; 
	}

	p {
		font-size: 20px;
    	line-height: 1.6;
	} 
}


.page_header {
  padding: 30vh 0 10vh 0; 
  min-height: 320px;
  
  .page_hero_text {
  	  
  	  @media (min-width: $med) {
  	  	padding: 0 40% 0 35px;
  	  }

  	  @media (min-width: $large) {
  	  	padding-left: 0;
  	  }

	  h1 {
	  	font-size: 18px;
	    font-weight: 600;
	    text-transform: uppercase;
	    letter-spacing: 1px;
			}

	  h2 {
	    font-size: 28px;
    	line-height: 1.5;
    	font-family: $serif;
    	margin-bottom: 10px;     
	  }
  }
}


.full_page_image {
	background-size: cover; 
	width: 95%; 
	height: 45vh;
	max-height: 600px;
	margin: 0 auto;  
}


/* Sermon */

.sermon_hero_text {
	text-align: center; 

	h1 {
		font-family: $serif; 
		font-size: 44px;
		margin-bottom: $gutter / 4; 
	}

	h2 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	color: $color--dark-gray; 
	margin-bottom: $gutter / 4; 
	}

	audio {
		width: 50vw; 
	}
}
