/*Page Styles*/
.page_header {
	width: 100%;
	margin-bottom: $gutter * 2;
	padding: $gutter * 2;
	text-align: center;
	background: $color--dark-gray;

	& .page_title {
		color: $color--white;
	}
}

.page_hero {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: $unit-5;
	width: 100%;
	height: 560px;

	.page_heroText {
		padding: $unit-2;
		max-width: ($unit-10 * 10);
	}
}

.page_heading,
.page_leadIn {
	text-align: center;
	color: $color--white;
}

.page_heading {
	margin-bottom: $unit-2;
	font-family: $serif;
	font-size: $fs-5;
	line-height: 1.2;

	@media (min-width: $med) {
		font-size: $fs-6;
	}
}

.page_leadIn {
	max-width: 640px;
	font-size: $fs-3;
}

.page_figure {
	margin: $unit-4 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}


/*Download Bar */
.page_downloadBar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: $unit-10;
	padding: $unit-3 $unit-5;
	text-align: center;
	color: $color--white;
	background-color: $color--dark-gray;

	.page_downloadInfo {
		display: none;
		@media (min-width: $med) {
			display: inline;
			margin-right: $unit-4;
		}
	}
}

.page_content {
	@media (min-width: $med) {
		max-width: 34rem;
	}
	
	h2 {
		font-size: $fs-4;
		margin: $unit-3 0 $unit-2;
		font-family: $serif;
	}

	p {
		font-size: $fs-3;
		line-height: 1.55;
	}

	ul {
		list-style: disc;
		margin-left: 20px;

		li {
			margin: 10px 0;
		}
	}
}
