//Page Styles
.page_hero {
	display: inline-block; 
	margin-bottom: em(40px);
	width: 100%; 
	height: 560px;

	.page_heroText {
		margin: 10% auto;
    	max-width: 800px;
	}
}

.page_heading, .page_leadIn { 
	text-align: center;
	color: $color--white;
}

.page_heading {
	margin-bottom: 16px;
	font-family: $serif;
	font-size: em(56px);
	line-height: 1.2; 
}

.page_leadIn {
	margin: 0 auto; 
	max-width: 640px;
	font-size: em(20px);
}

//Download Bar 
.page_downloadBar {
	display: flex;
	align-items: center; 
	justify-content: center;  
	width: 100%; 
	height: 80px; 
	padding: 20px 40px; 
	text-align: center; 
	color: $color--white;
	background-color: $color--dark-gray;

	.page_downloadInfo {
		display: none; 

		@media (min-width: $med) {
			display: inline; 
			margin-right: 20px;
		}
	}
}

.page_content {

	@media (min-width: $med) {
		max-width: 640px;	
	}

	h2 {
		font-size: 24px;
		margin: 20px 0 10px;
		font-family: $serif; 
	}

	p {
		font-size: 19px;
    	line-height: 1.6;
	} 
}


/* Sermon */

.sermon_hero_text {
	text-align: center; 

	h1 {
		font-family: $serif; 
		font-size: 44px;
		margin-bottom: $gutter / 4; 
	}

	h2 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	color: $color--dark-gray; 
	margin-bottom: $gutter / 4; 
	}

	audio {
		width: 50vw; 
	}
}
