/* Sermon */

.sermon_hero_text {
	text-align: center;
    color: $color--black-70;

    .sermon_heading {
        margin: 0;
        margin-bottom: $unit-3;
		font-family: $heading-font; 
		font-size: $unit-7; 
        font-weight: 600;
        text-transform: uppercase;
        color: $color--white;
	}

	.sermon_meta {
        margin-bottom: $unit-2;     
        font-size: $fs-2;
        font-weight: 600;
        color: $color--black-70;

        span {
            font-weight: 400;
        }
	}

    

	audio {
        margin: $unit-3 auto;
        display: block;
		width: 50vw; 
	}

    .btn {
        margin-bottom: $unit-3;
    }
}
