<!doctype html>
<html class="no-js" lang="en-US">
  {% include head.html %}
  <body class="layout--{{ page.layout }}">
   <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
   {% include header.html %}

    <main class="main" id="main">
      {{ content }}
    </main>
   
   {% include footer.html %}
   
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-89124481-1','auto');ga('send','pageview')
    </script>
    <script type="text/javascript" src="https://www.google-analytics.com/analytics.js" async defer></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/main.js"></script>
  </body>
</html>
