<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo %} 
    <link href="/css/styles.css" rel="stylesheet" media="all" type="text/css" />
    <!-- Fonts -->
    <script src="https://use.typekit.net/kjm0azk.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body class="layout--{{ page.layout }}">

   {% include header.html %}

    <main class="container main" id="main">
      {{ content }}
    </main>
   
   {% include footer.html %}
 
  </body>
</html>