---
layout: default
---

<div class="jumbotron">
  <div class="jumbotron_content" hidden="false">
    <div style="z-index: 1; padding: 16px;">
      <h4 class="page_heading">{{ page.heading }}</h4>
      <p class="page_leadIn" style="margin-bottom: 1rem;">{{ page.lead_in }}</p>
      <a id="watchButton" class="btn btn--primary">Watch the video</a>
    </div>
    <div class="jumbotron_teaser">
      <div class="jumbotron_teaser_overlay"></div>
      <video class="jumbotron_teaser_video" preload="auto"
        poster="https://s3.us-east-2.amazonaws.com/lukemoderwell/mcc/explore.jpg" autoplay="autoplay" loop="loop"
        muted="true" playsinline="true"
        src="https://s3.us-east-2.amazonaws.com/lukemoderwell/mcc/MCC_Explore_WebBanner_v01.mp4">
      </video>
    </div>
  </div>
  <div class="jumbotron_video">
    <video id="mainVideo" width="100%" preload="metadata" data-aspect-ratio="1.777777778" controls
      src="https://s3.us-east-2.amazonaws.com/lukemoderwell/mcc/MCC+Draft+2.mp4" allowfullscreen>
  </div>

</div>
<div class="container">
  <h3 class="page_heading page_heading--noBg">Elders</h3>
  <div class="elders">
    {% assign elders = site.people | where: "is_elder", true %}
    {% for elder in elders %}
    <div class="media">
      <img class="media-img" src="{{ elder.image }}" />
      <div class="media-content">
        <h4 class="media-title">{{ elder.name }}</h4>
        <h5 class="media-subtitle">{{ elder.position }}</h5>
        <p>{{ elder.content | markdownify }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  const aspectRatioUnits = document.querySelectorAll('[data-aspect-ratio');
  const btn = document.getElementById('watchButton');
  const content = document.querySelector('.jumbotron_content');
  const videoContainer = document.querySelector('.jumbotron_video');
  const video = document.getElementById('mainVideo');

  function aspectRatioResizer(els) {
    for (var i = 0; i < els.length; i += 1) {
      const aspectWidth = els[i].offsetWidth;
      const aspectHeight = (aspectWidth / els[i].dataset.aspectRatio);
      els[i].height = aspectHeight;
    }
    console.log('x');
  }

  function revealVideo() {
    if (content.hidden = 'false') {
      content.setAttribute('style', 'opacity: 0;visibility: hidden;z-index: -1;');
      content.setAttribute('hidden', 'true');
      videoContainer.setAttribute('style', 'opacity: 1; visibility: visible; z-index:0; pointer-events: auto;');
      video.play();
    }
  }

  // mobile
  window.innerWidth > 480 ? aspectRatioResizer(aspectRatioUnits) : '';
  window.innerWidth < 480 ? video.setAttribute('height', '480') : '';

  // btn.addEventListener('click', revealVideo);
</script>
