---
layout: default
---

{% assign current_sermon = site.sermons | sort: sermon_date | reverse | first %}

<div class="home">

  <div class="jumbotron">
    <div class="jumbotron_content" hidden="false">
      <div class="home_intro" style="z-index: 1; padding: 16px;">
        <h1>{{ page.heading }}</h1>
        <p>{{ page.content }}</p>
        <div class="home_buttonGroup">
          <a href="/about" class="btn btn--secondary">Learn More</a>
          <a id="watchButton" class="btn btn--primary">Watch COVID-19 PSA</a>
          <!-- <a href="https://www.surveymonkey.com/r/MCC-Discipleship-2020" target="_blank" class="btn btn--secondary">Take
            The 2020 Discipleship Survey</a> -->
        </div>
      </div>
      <div class="jumbotron_teaser">
        <div class="jumbotron_teaser_overlay"></div>
        <video class="jumbotron_teaser_video" preload="auto" poster="https://d2tzsnkqeb86y7.cloudfront.net/explore.jpg"
          autoplay="autoplay" loop="loop" muted="true" playsinline="true"
          src="https://d2tzsnkqeb86y7.cloudfront.net/MCC_Explore_WebBanner_v01.mp4">
        </video>
      </div>
    </div>
    <div class="jumbotron_video">
      <!-- <video id="mainVideo" width="100%" preload="metadata" data-aspect-ratio="1.777777778" controls
        src="https://d2tzsnkqeb86y7.cloudfront.net/mcc-explainer-video.mp4" allowfullscreen> -->
      <video id="mainVideo" width="100%" preload="auto" data-aspect-ratio="1.777777778" controls
        src="https://mccsermonaudio.s3.us-east-2.amazonaws.com/Sermon+Videos/psa-out.mp4" allowfullscreen>
    </div>
  </div>
  <!-- <section class="home_hero">
    <div class="home_intro">
      <h1>{{ page.heading }}</h1>
      <p>{{ page.content }}</p>
      <div class="home_buttonGroup">
        <a href="{{ current_sermon.brochure_file }}" class="btn btn--secondary">Latest Update</a>
        <a href="/about" class="btn btn--primary">Learn More</a>
      </div>
      <div style="text-align: center;>
        {% include alert.html content="Sign Up For Family Camp" url="https://docs.google.com/forms/d/e/1FAIpQLSfYId3DNVYzEvI_E-tfcAxNlMSs0kSf0rJUN16vVg7rnhqcpQ/viewform" %}
      </div>
    </div>
    <div class="home_hero_img" style="background-image: url('{{ page.hero_image }}');"></div>
  </section> -->
  <div class="container">
    <section class="featSermon">
      <div class="featSermon_img">
        {% if current_sermon.video_url %}
        <iframe class="sermon_video" width="560" height="315" src="{{ current_sermon.video_url }}" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
        <img src="{{ current_sermon.thumbnail_image }}" />
        {% endif %}
      </div>
      <div class="featSermon_content">
        <a href="{{ current_sermon.url }}">
          {% if current_sermon.week != '' %}
          <h4 class="featSermon_week">{{ current_sermon.series }} <span>Week {{ current_sermon.week }}</span></h4>
          {% endif %}
        </a>
        <h3 class="featSermon_title">{{ current_sermon.title }}</h3>
        </a>
        <div class="featSermon_desc">{{ current_sermon.content | markdownify | truncate: 140, '...' }}</div>
        {% if current_sermon.audio_file != '' %}
        <audio controls preload src="{{ current_sermon.audio_file }}"></audio>
        {% endif %}
        <a href="{{ current_sermon.brochure_file }}" class="featSermon_cta">Download Program</a> | <a href="/media"
          class="featSermon_cta">See
          All Sermons</a>
      </div>
    </section>
  </div>
</div>

<script>
  const aspectRatioUnits = document.querySelectorAll('[data-aspect-ratio]');
  const btn = document.getElementById('watchButton');
  const content = document.querySelector('.jumbotron_content');
  const videoContainer = document.querySelector('.jumbotron_video');
  const video = document.getElementById('mainVideo');

  function aspectRatioResizer(els) {
    for (var i = 0; i < els.length; i += 1) {
      const aspectWidth = els[i].offsetWidth;
      const aspectHeight = (aspectWidth / els[i].dataset.aspectRatio);
      els[i].height = aspectHeight;
    }
  }

  function revealVideo() {
    if (content.hidden = 'false') {
      content.setAttribute('style', 'opacity: 0;visibility: hidden;z-index: -1;');
      content.setAttribute('hidden', 'true');
      videoContainer.setAttribute('style', 'opacity: 1; visibility: visible; z-index:0; pointer-events: auto;');
      video.play();
    }
  }

  // mobile
  window.innerWidth > 480 ? aspectRatioResizer(aspectRatioUnits) : '';
  window.innerWidth < 480 ? video.setAttribute('height', '480') : '';

  btn.addEventListener('click', revealVideo);
</script>
