---
layout: default
---

{% if page.hasDownload == true %}
<div class="page_downloadBar">
  <span class="page_downloadInfo">{{ page.download.info }}</span>
  <a href="{{ page.download.file }}" class="btn btn--small btn--primary">{{ page.download.cta }}</a>
</div>
{% endif %}
{% if page.hasHero == true %}
  <div class="page_hero" style="background-image: url('{{ page.hero_image }}'); background-size: cover;">
{% else %}
  <div class="page_header" style="background-color: {{ page.bg_color }};">
{% endif %} 
  <div class="page_heroText">
    <h2 class="page_heading">{{ page.heading }}</h2>
    <h3 class="page_leadIn">{{ page.lead_in }}</h3>
    {% if page.title == 'Grow' %}
    <div class="page_heroButtonGroup">
      <a href="/small-groups" class="btn btn--small btn--secondary">Find A Small Group</a>
      <a href="/uploads/TheWayBklt_Jan2017.pdf" class="btn btn--small btn--secondary">Following Jesus</a>
      <a href="/serve" class="btn btn--small btn--secondary">Serving Opportunities</a>
      <a href="/membership" class="btn btn--small btn--secondary">Membership</a>
    </div>
    {% endif %}
  </div>
</div>
<div class="container page_content">
  {% if page.content %}
    {{ content }}
  {% endif %}  
</div>
{% if page.title == 'About' %}
  <div class="container">
    <h3 class="page_heading page_heading--noBg">Elder Leadership</h3>
    {% include elder-grid.html %}
    <h3 class="page_heading page_heading--noBg">Staff</h3>
    {% include staff-grid.html %}
  </div>
{% endif %}
