---
layout: frontpage
---

{% if page.hero_image %}
<div class="page_header" style="background: url('{{ page.hero_image }}');background-size: cover; ">
	<div class="container page_hero_text">
		<h1 class="page_heading">{{ page.heading }}</h1>
		<h2 class="page_lead_in">{{ page.lead_in }}</h2>
		{% if page.start_date and page.end_date %}
			<span class="event_date">{{ page.start_date | date: "%a, %b %d"}} — {{ page.end_date | date: "%a, %b %d" }}</span>
		{% endif %}
	</div>
</div>
{% endif %}

<!-- {% if page.hero_image %}
	<figure class="full_page_image" style="background-image: url({{ page.hero_image }});"></figure>
{% endif %} -->

{% if page.content %}
	<div class="container page_content">
		{{ content }}
		<a href="{{ page.download_file }}" class="hero_btn btn primary">Download</a>
	</div>
{% endif %}