---
layout: frontpage
---
<div class="page_header" style="background: {{ page.bg_color }};">
	<div class="container sermon_hero_text">
		<h1 class="sermon_heading">{{ page.title }}</h1>
		<h2 class="sermon_meta">{{ page.series }} {{ page.week }}</h2>
		<audio controls preload src="{{ page.audio_file }}"></audio>
		<p class="speaker">{{ page.speaker }}</p>
		{% if page.start_date and page.end_date %}
			<span class="event_date">{{ page.start_date | date: "%a, %b %d"}} — {{ page.end_date | date: "%a, %b %d" }}</span>
		{% endif %}
	</div>
</div>


{% if page.content %}
	<div class="container page_content">
		{{ content }}
	</div>
{% endif %}