---
layout: default
---

<div id="rooted-discipleship-section">
  <div class="container">
    <div class="rooted-overview">
      <img src="/uploads/rooted-discipleship-logo-transparent.png" alt="Rooted Discispleship Logo" width="100%">
      <h1>GET ROOTED AND ESTABLISHED IN CHRIST</h1>
      <p><span style="font-style: italic;">"Therefore, as you received Christ Jesus the Lord, so walk in him, rooted and built up in him and established in the faith, just as you were taught, abounding in thanksgiving."</span> (Colossians 2:6-7, ESV)</p>
      
      <p>The purpose of the Rooted Discipleship series of classes is to help the body of Christ be rooted and established in the Father, Son, and Holy Spirit.</p>
      <p><strong>Join us Wednesday Nights at 7pm this Fall for a Spiritual Journey that Can Change Your Life</strong></p>
      <h2>2023 Fall Term</h2>
    </div>

    <section class="rooted-session-container">
      <p class="session-dates"s><strong>Session 1 - August 30 - October 4, 2023</strong></p>
      <ul>
        <li>Meet at 7pm at Mariemont Church Auditorium for community worship and then break into classrooms. Class ends at 9pm.</li>
        <li>Registration deadline is August 23.</li>
        <li>Each course is $50 per session.</li>
        <li>If you sign up for both sessions you'll receive a discount of $25 for session 2.</li>
        <li>If you're interested in a scholarship, contact Nancy Clausen at <a href="mailto:nancy@mariemontchurch.org">nancy@mariemontchurch.org</a>.</li>
      </ul>
      <hr>
      <p class="rooted-grid-title">Session 1 Registrations are Closed. Please consider registering for Session 2 below.</p>
      <div class="rooted-class-grid">
        <div class="rooted-class-grid-item">
          <a href="https://mariemontchurch.churchcenter.com/registrations/events/1861906" target="_blank" rel="noopener">
            <img src="/uploads/communion-with-god-photo.jpg" alt="Communion With God" width="100%">
          </a>
          <h3>Communion with God 101</h3>
          <p>How to grow in relationship with Jesus in life, in the Word, and in community. Taught by Jamie Moore.</p>
          <a href="https://mariemontchurch.churchcenter.com/registrations/events/1861906" target="_blank" rel="noopener">Register Now</a>
        </div>
        <div class="rooted-class-grid-item">
          <a href="https://mariemontchurch.churchcenter.com/registrations/events/1869655" target="_blank" rel="noopener">
            <img src="/uploads/identity-in-christ-friends-photo.jpg" alt="Identity In Christ" width="100%">
          </a>
          <h3>Identity In Christ 101</h3>
          <p>Understanding your identity and value in Christ. Taught by Jess Moore.</p>
          <a href="https://mariemontchurch.churchcenter.com/registrations/events/1869655" target="_blank" rel="noopener">Register Now</a>
        </div>
        <div class="rooted-class-grid-item">
          <a href="https://mariemontchurch.churchcenter.com/registrations/events/1869682" target="_blank" rel="noopener">
            <img src="/uploads/lifestyle-of-worship-photo.jpg" alt="Lifestyle Of Worship" width="100%">
          </a>
          <h3>Lifestyle Of Worship 101</h3>
          <p>Understanding the importance and practice of biblical worship. Taught by Paul Rasmussen.</p>
          <a href="https://mariemontchurch.churchcenter.com/registrations/events/1869682" target="_blank" rel="noopener">Register Now</a>
        </div>
      </div>
    </section>

    <section class="rooted-session-container">
      <p class="session-dates"><strong>Session 2 - October 11 - November 15, 2023</strong></p>
      <ul>
        <li>Meet at 7pm at Mariemont Church Auditorium for community worship and then break into classrooms. Class ends at 9pm.</li>
        <li>Registration deadline is October 4, 2023.</li>
        <li>Each course is $50 per session.</li>
        <li>If you sign up for both sessions you'll receive a discount of $25 for session 2.</li>
      </ul>
      <hr>
      <p class="rooted-grid-title">Click on the Session 2 course you want to register for below:</p>
      <div class="rooted-class-grid">
        <div class="rooted-class-grid-item">
          <a href="https://mariemontchurch.churchcenter.com/registrations/events/1869037" target="_blank" rel="noopener">
            <img src="/uploads/communion-with-god-photo.jpg" alt="Communion With God" width="100%">
          </a>
          <h3>Communion with God 101</h3>
          <p>How to grow in relationship with Jesus in life, in the Word, and in community. Taught by Jamie Moore.</p>
          <a href="https://mariemontchurch.churchcenter.com/registrations/events/1869037" target="_blank" rel="noopener">Register Now</a>
        </div>
        <div class="rooted-class-grid-item">
          <a href="https://mariemontchurch.churchcenter.com/registrations/events/1869673" target="_blank" rel="noopener">
            <img src="/uploads/identity-in-christ-friends-photo.jpg" alt="Identity In Christ" width="100%">
          </a>
          <h3>Identity In Christ 101</h3>
          <p>Understanding your identity and value in Christ. Taught by Jess Moore.</p>
          <a href="https://mariemontchurch.churchcenter.com/registrations/events/1869673" target="_blank" rel="noopener">Register Now</a>
        </div>
        <div class="rooted-class-grid-item">
          <a href="https://mariemontchurch.churchcenter.com/registrations/events/1869685" target="_blank" rel="noopener">
            <img src="/uploads/lifestyle-of-worship-photo.jpg" alt="Lifestyle Of Worship" width="100%">
          </a>
          <h3>Lifestyle Of Worship 101</h3>
          <p>Understanding the importance and practice of biblical worship. Taught by Paul Rasmussen.</p>
          <a href="https://mariemontchurch.churchcenter.com/registrations/events/1869685" target="_blank" rel="noopener">Register Now</a>
        </div>
      </div>
    </section>
  </div>
</div>
