--- 
layout: default
---

<div class="page_header page_header--sermon">
    <h2 class="page_title">{{ page.title }}</h2>
</div>

<div class="container">
    <div class="card_list grid grid--gutters">
        {% for sermon in site.sermons reversed %}
        <div class="sermon_card card grid_cell">
            <a class="card_main" href="{{ sermon.url }}">
                <div class="card_visual">
                    <img class="card_img" src="{{ sermon.thumbnail_image }}" />
                    {% if sermon.thumbnail_image == false %}  
                        <h2 class="card_visualTitle">{{ sermon.series }}</h2>
                        <h3 class="card_visualSubtitle">Week {{ sermon.week }}</h3>
                    {% endif %}
                </div>
                <h3 class="card_title">{{ sermon.title }}</h3>
                {% if sermon.sermon_date %}
                    <span class="card_date">{{ sermon.sermon_date | date: "%a, %b %d" }}</span>
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
